body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

@keyframes leftright {
    from {
        transform: translate3d(-100%, 0, 0);
        opacity: 0;
      }
    
      to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
}

@keyframes borderhover {
    from {
        border-bottom: white 2px solid;
    }
    to {
        border-bottom: #455CAB 2px solid;
    }
}

@keyframes emailButton {
    from {
        padding-left:2px ;
        background-color: none;
    }
    to {
        padding-left: 15px;
        background-color: #455dab2c;
    }}

@keyframes reverseEmailButton {
        from {
            padding-left: 15px;
            background-color: #455dab2c;
        }
        to {
            padding-left:2px ;
            background-color: none;
        }

}

#hero {
    background-image: url("images/bg.jpg");
    background-size: cover;
    width: 100%;
    height: 750px;
    position: relative;
}

.navbar {
    position: absolute;
    top: 20px;
    background-color: transparent;
    
}

.navbar-nav {
    margin-left: 300px;
}

.nav-item {
    margin-right: 70px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #22252A;
}

.nav-item:hover {
    animation: borderhover 0.75s 1;
    animation-fill-mode: forwards;
}

.nav-link {
    padding-bottom: 2px;
}

#title-section {
  left: 300px;
  position: absolute;
  top: 200px;
}

#title-subtitle {
    animation: leftright 1s 1;
}

#title {
    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-size: 130px;
    line-height: 130%;
    letter-spacing: 0.15em;
    color: #455CAB;
    position: relative;
}

#subtitle {
    font-weight: 400;
    font-size: 30px;
    color: rgba(34, 37, 42, 0.8);
    margin-left: 8px;
}

#scroll {
    margin-left: 8px;
    color: black;
    margin-top: 100px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 2px;
}

/* ABOUT */

#about {
    margin-top: 200px;
}

.about-container {
margin-top: 140px;
display: block;
margin-left: 308px;
margin-right: auto;
width: fit-content;
}

.about-title {
   color: #455CAB;
   font-weight: 700;
font-size: 25px;
line-height: 130%;
letter-spacing: 0.15em;

}

.about-info {
   font-weight: 700;
font-size: 40px;
line-height: 130%;
letter-spacing: 0.15em;
width: 288px;

}

.about-head {
   display: inline-block;
}

.about-text {
   float: right;
   font-weight: 400;
font-size: 20px;
line-height: 142.9%;
color: rgba(34, 37, 42, 0.8);
width: 450px;

margin-left: 120px
}

 #scroll:hover {
    animation: borderhover 0.75s 1;
    animation-fill-mode: forwards;
 }

/* GALLERY */

#gallery {
margin-top: 200px;
}

#gallery-title {
    font-weight: 600;
font-size: 40px;
line-height: 130%;
letter-spacing: 0.15em;
color: #455CAB;
text-align: center;
margin-bottom: 25px;
}

#gallery-subtitle {
    font-weight: 400;
font-size: 20px;
color: rgba(34, 37, 42, 0.8);
text-align: center;
margin-bottom: 50px;
}

.carousel {
    height: 75vh;
    width: 75vw;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
}

.carousel > ul {
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > img {
    display: block;
    width: 100%; 
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: .25rem;
    border: 1px solid #22252A;
}

.active {
    opacity: 1;
    transition-delay:0ms;
    z-index: 1;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 3rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    background:#455dab57 ;
}

.carousel-button:hover {
    color: white;
    background: #455dab70;
}

.prev {
    left: 1rem;
}

.next {
    right: 1rem;
}


/* CONTACT */

#contact {
    margin-top: 200px;
    text-align: center;
}

#contact-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.15em;
    color: #455CAB;
    text-align: center;
    margin-bottom: 50px;
}

#contact-text {
    font-weight: 400;
font-size: 20px;
color: rgba(34, 37, 42, 0.8);
text-align: center;
margin-bottom: 50px;
}

#email {
    font-weight: 500;
font-size: 20px;
line-height: 130%;
text-align: center;
    border-bottom: 3px solid #455CAB;
    color: black;
    text-decoration: none;
    padding: 2px;
    animation: reverseEmailButton 0.75s 1;
}

#email:hover {
    background-color: #455dab1f;
    animation: emailButton 0.75s 1;
    animation-fill-mode: forwards;
}

#footer {
    background-color: #22252A;
    margin-top: 50px;
}

#socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 12.5%;
    margin-right: auto;
    margin-left: auto;
}

.icon {
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

.icon:hover {
    color:#455CAB;
}

#footer-text1 {
    color: rgba(255, 255, 255, 0.7); 
    margin-bottom: 0;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 12px;
letter-spacing: 0.3em;
}

#footer-text2 {
    color: rgba(255, 255, 255, 0.7); 
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 15px;
    font-weight: 900;
    font-size: 12px;
letter-spacing: 0.3em;
}

 @media(min-width:1650px) {
    .about-container {
        margin-left: auto;
    }
 }

 